body {
  font-family: Arial, Helvetica, sans-serif;
}

#back {
  width: 20%;
  border: 1px #fcfcfc;
  color: #fcfcfc;
  background-color: #F77614;
  font-size: 15px;
  padding:5px;
 }

.imgcontainer {
    text-align: center;
    margin: 75px 0px 30px 0px;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container b {
  color:#fcfcfc;
  text-shadow: 2px 1px #F77614;
}


input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#login{
    background-color: #F77614;
    color: white;
    padding: 14px 20px;
    margin: 15px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.5;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.container {
    padding: 25px;
    margin-top: 20%;
}

span.psw {
    float: right;
    padding-top: 16px;
}
